/* Font Import  font-name:Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reboot / Default Styling */

.h-100vh {
    height: 100vh;
}

.btn-intro-solid {
    width: 160px;
    padding: 10px;
    background-color: #18A997;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.btn-intro-solid:hover {
    color: #fff;
    text-decoration: none;
}

.default-gap {
    gap: 20px;
}

.br-5 {
    border-radius: 5px !important;
}

.br-10 {
    border-radius: 10px !important;
}

.br-15 {
    border-radius: 15px !important;
}

.br-20 {
    border-radius: 20px !important;
}

.br-25 {
    border-radius: 25px !important;
}

.br-30 {
    border-radius: 30px !important;
}


.overflow-x {
    overflow-x: hidden !important;
}

.overflow-y {
    overflow-y: hidden !important;
}

.btn-theme-solid {
    background: #642870 !important;
    color: #fff;
    padding: 10px;
}

.btn-theme-solid:hover {
    color: #fff;
    text-decoration: none;
}

.bg-theme-secondary {
    background: #4D4D4D !important;
}

.bg-portal-section {
    background: #EDAC56 !important
}

.theme-input {
    width: 100%;
    border: 1px solid #4D4D4D !important;
    padding: 10px !important;
}

.theme-selectbox {
    padding-right: 10px;
}