/* Font Import  font-name:Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reboot / Default Styling */

.h-100vh {
    height: 100vh;
}

.btn-intro-solid {
    width: 160px;
    padding: 10px;
    background-color: #18A997;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.btn-intro-solid:hover {
    color: #fff;
    text-decoration: none;
}

.default-gap {
    gap: 20px;
}

.gap-5 {
    gap:5px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-15 {
    gap:  15px !important;
}

.fs-10px {
    font-size: 10px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.br-5 {
    border-radius: 5px !important;
}

.br-10 {
    border-radius: 10px !important;
}

.br-15 {
    border-radius: 15px !important;
}

.br-20 {
    border-radius: 20px !important;
}

.br-25 {
    border-radius: 25px !important;
}

.br-30 {
    border-radius: 30px !important;
}


.border-theme-color {
    border-color: #642870 !important;
}
.overflow-x {
    overflow-x: hidden !important;
}

.overflow-y {
    overflow-y: hidden !important;
}

.btn-theme-solid {
    background: #642870 !important;
    color: #fff;
    padding: 10px;
}

.btn-theme-solid:hover {
    color: #fff;
    text-decoration: none;
}

.bg-theme-secondary {
    background: #4D4D4D !important;
}



.bg-portal-section {
    background: #EDAC56 !important
}

.theme-input {
    width: 100%;
    border: 1px solid #4D4D4D !important;
    padding: 10px ;
}

.theme-selectbox {
    padding-right: 10px;
}

.text-theme {
    color: #642870 !important;
}

.text-orange {
    color: #EDAC56 !important;
}

.bg-theme-primary {
    background-color: #642870 !important;
}


.bg-theme-orange {
    background-color: #EDAC56 !important;
    
}

.bg-theme-light-orange {
    background-color: #FEF7ED !important;
}

.bg-theme-green {
    background-color: #18A997 !important;
}

.text-black {
    color: #000 !important;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none !important;
}

.border-none {
    border: none !important;
}



.outline-none {
    outline: none !important;
}


.default-card-box-shadow {
    box-shadow: 0px 4px 30px 2px rgba(0, 0, 0, 0.1);
}
/* Portal Login Screen */

.registration-wrapper {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-bottom: 10px;
}

.registration-wrapper span {
    background-color: #fff;
    padding: 0 10px;

}

.verify-otp-bg,
.bg-theme-light {
    background-color: #F8F7F7 !important;
}

.verify-otp-bottom-border {
    border-bottom: 3px solid #C2C1C1 !important;
}

.verify-otp-input-height {
    height: 75px !important;
    ;
}

/* Portal Registration Screen */

.spans-full-width {
    flex: 0 0 100%;
    align-self: flex-end;
    text-align: center;
}

.reg-card-shadow {
    box-shadow: 0 0 3px 4px #eee !important;
}

/* Portal Main Page  */

.btn-outline-theme-primary {
    border: 1px solid;
    border-radius: 20px;
    
}

.btn-outline-theme-primary:hover {
    background-color: #642870 !important;
    color: #fff !important;
}

.main-header-border {
    border: 2px solid #EDAC56 !important;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center
}

.hr {
    margin-left: -15px;
    margin-right: -15px;
    background: #D7D7D7 !important;
}

.btn-portal-offer {
    color: #fff !important;
    font-size: 12px !important;
}

.bg-light-pink {
    background-color: #F96F88 !important;
}

/* Services Modal */

.modal-services-height {
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}


.paper-type-wrapper div {
    width: 134px !important;
}

/* Admin Section Starts */

    /* Sidebar styling */

    .sb-image-box img {
        border: 5px solid #EDAC56;
    }

    .sb-menu-list {
        margin: 0;
        padding: 0 100px;
        list-style: none;
        text-align: left;
    }


    .sb-menu-list .sb-menu-item {
        padding: 15px 0px;
    }

    
    .sb-menu-list .sb-menu-item .sb-menu-link {
        font-size: 18px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-weight: 500;
    }

    .sb-menu-list .sb-menu-item .sb-menu-link i {
        color: #EDAC56 !important;
    }

    .sb-menu-link.active {
        background-color: #EDAC56 !important;
        padding: 6px 15px;
        border-radius: 10px;
    }

    .sb-sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
    }

    .sb-sub-menu .sb-sub-menu-item .sb-sub-menu-item{
        color: #000;
        text-decoration: none;
    }

    .admin-bg {
        background: #FDF2FF !important;
        height: 100% !important;
        border-top-left-radius: 20px;
        padding: 40px 20px;
    }

    .admin-header-icons {
        font-size: 18px;
        background: #fff !important;
        height: 55px;
        width: 55px;
        line-height: 55px;
        text-align: center;


    }

    .admin-filter-buttons{
        padding: 5px 10px;
        border: 1px solid #474747;
        color: #474747;
        font-size: 22px;
        font-weight: 300;
    }

    .admin-filter-buttons:hover {
        color: #474747;
        text-decoration: none;
    }

    .filter-active {
        background-color: #EDAC56;
        color: #fff;
        border: none;
        outline: none;
        font-weight: 600;
    }

    .filter-active:hover {
        color: #fff !important;
    }

    .orders-list-wrapper strong,
    .orders-list-wrapper span {
        font-size: 14px !important;
    }

    .orders-history-list-wrapper strong,
    .orders-history-list-wrapper span {
        font-size: 14px !important;
    }
    .order-list-card-padding {
        
        padding: 15px !important;
        padding-top: 18px !important;
    }

    .badge-theme-primary {
        background-color: #FFE3CA !important;
        color: #000;
        font-weight: 100;
    }

    .arrow-icon {
        background: #fff;
        padding: 6px;
        border-radius: 50%;
        position: absolute;
        left: 128px;
        top: 22px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    }

    .product-list-wrapper h4,
    .product-list-wrapper p {
        font-size: 15px;
    }

    .category-list-wrapper h4,
    .category-list-wrapper p {
        font-size: 15px;
    }

    .scrollable-section::-webkit-scrollbar {
        display: none;
      }

      .variable-choice-wrapper label {
        font-size: 14px;
        margin: 0;
      }

      .setting-icon {
    position: absolute!important;
    top: -16px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #EDAC56;
    width: 30px;
    height: 30px;
    color: white;
    line-height: 33px;
    /* margin: 0 auto; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    border-radius: 10px;
      }


      .accordion-header {
        padding: 0;
        background: transparent !important;
        border:1px solid #000 !important;
        border-radius: 10px !important;
      }


      .vendor-close-btn {
        position: absolute;
    top: -13px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    right: -10px;
    background: #e9ddeb;
    color: #000;
      }

      .bg-dim-light-pink {
        background: #FDF2FF !important;
      }

      /* table.table.table-cmn-bordered  tr th,
      .table.table-cmn-bordered tbody tr:not(:last-child) td {
        border: 1px solid #ccc;
        border-radius: 15px !important;
        border-collapse: separate !important;
      }

      .table.table-cmn-bordered  tr th {
        background: #FDF2FF !important;
      } */


      table.table-cmn-bordered  th {
        background: #FDF2FF !important;
      }

      table.table-cmn-bordered  td {
        padding: 0 !important;
      }

      table.table-cmn-bordered ,
      table.table-cmn-bordered  tr,
      table.table-cmn-bordered  th,
      table.table-cmn-bordered  td {
        border: 1px solid #ccc;
        border-radius: 15px !important;
        border-collapse: separate !important;
        text-align: center;
        vertical-align: middle !important;
      }


      table.table-cmn-bordered {
        border:none !important;
      }


      #customer-info-table table.table-cmn-bordered  td {
        padding: 6px !important;
      }

     #customer-info-table table.table-cmn-bordered ,
     #customer-info-table table.table-cmn-bordered  tr,
     #customer-info-table table.table-cmn-bordered  th,
     #customer-info-table table.table-cmn-bordered  td {
        border: 1px solid #ccc;
        border-radius: 15px !important;
        border-collapse: separate !important;
        text-align: left;
        vertical-align: middle !important;
      }

    


      #customer-info-table  table.table-cmn-bordered {
        border:none !important;
      }

      .btn-action {
        border: 1px solid #000;
        padding: 5px 15px;
        border-radius: 10px;
        text-decoration: none;
        color: #000;
      }

      .btn-action-white {
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
      }

      .btn-action:hover {
        text-decoration: none;
        color: #000;
      }

      .btn-action-close {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        background: #FDF2FF !important;
        color: #000;
        width:40px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
      }

      .bg-theme-red {
        background: #FE5A5A !important;
      }

      .admin-dashboard-card {
        height: 135px;
      }

      .analytics-row-card {
        height: 248px !important;
      }

      .tbl-complaints tr td {
        padding: 0px  0px 7px 0px !important;
        font-size: 13px;
      }

      .progress {
        height: .5rem;
      }